In [11]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [4]:
df = pd.read_stata("https://raw.github.com/scunning1975/mixtape/master/thornton_hiv.dta", )

In [5]:
df.head()

,site,rumphi,balaka,villnum,m1out,m2out,survey2004,got,zone,distvct,...,under_havesex_fo_hiv,over_havesex_fo_hiv,hiv_havesex_fo,havesex_fo_hiv,any_havesex_fo_male,tinc_havesex_fo_male,under_havesex_fo_male,tinc_male_hadsex12,under_male_hadsex12,MainSample
0,2.0,0.0,1.0,1.0,NaN,NaN,1.0,1.0,12.0,2.718921,...,0.0,0.0,0.0,0.0,1.0,2.08032,0.0,2.08032,0.0,1.0
1,2.0,0.0,1.0,1.0,NaN,2.0,1.0,NaN,12.0,2.835039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,2.0,0.0,1.0,1.0,NaN,NaN,1.0,1.0,12.0,2.485713,...,0.0,0.0,0.0,0.0,1.0,1.89120,0.0,1.89120,0.0,1.0
3,2.0,0.0,1.0,1.0,NaN,2.0,0.0,NaN,12.0,2.835039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,0.0,1.0,1.0,NaN,2.0,1.0,1.0,12.0,1.837131,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0,1.0

In [10]:
# difference between the two means
df.groupby('any').agg({'got': 'mean'})

          got
any
0.0  0.338684
1.0  0.789236

In [13]:
df = df[(~df['got'].isna()) & (~df['any'].isna())]

In [14]:
# ---- 1.b. Calculate using OLS
Y = df['got']
X = df['any']
# X = sm.add_constant(X)
model = sm.OLS(Y,X)
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    got   R-squared (uncentered):                   0.704
Model:                            OLS   Adj. R-squared (uncentered):              0.704
Method:                 Least Squares   F-statistic:                              6741.
Date:                Sat, 04 Feb 2023   Prob (F-statistic):                        0.00
Time:                        14:37:36   Log-Likelihood:                         -1770.3
No. Observations:                2834   AIC:                                      3543.
Df Residuals:                    2833   BIC:                                      3549.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
any            0.7892      0.010     82.103      0.000       0.770       0.808
==============================================================================
Omnibus:                      145.511   Durbin-Watson:                   1.878
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              183.262
Skew:                          -0.513   Prob(JB):                     1.60e-40
Kurtosis:                       3.707   Cond. No.                         1.00
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.